<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>通讯录练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4E2E8AD1F5E6A6600C3EB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E2E8C61F5E6A6600C3EB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E2E8D11F5E6A6600C3EB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
